<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>

    <div class="container center-align">
        <div class="left">
            <a href="/team"><i class="black-text material-icons">arrow_back</i></a>
        </div>

        <div>
            <h3><%= team.full_name %></h3>
            <img id="showLogo" src="<%= team.logo %>" alt="">
        </div>

        <div>
            <h4>Front Court</h4>
            <hr>

            <div>
                <% team.players.forEach((player) => { %>
                <% if (player.position === "PG" || player.position === "SG" || player.position === "G") { %>
                <div class="card" id="rosterCard">
                    <img id = "playerPicture" src="<%= player.picture %>" alt="">
                    <h6><%= player.first_name + " " + player.last_name %></h6>
                    <p><%= player.position %></p>
                </div>
                <% } %>
                <% }) %>
            </div>
        </div>

        <div>
            <h4>Back Court</h4>
            <hr>

            <div>
                <% team.players.forEach((player) => { %>
                <% if (player.position === "SF" || player.position === "PF" || player.position === "C" || player.position ==="F-C") { %>
                <div class="card" id="rosterCard">
                    <img id = "playerPicture" src="<%= player.picture %>" alt="">
                    <h6><%= player.first_name + " " + player.last_name %></h6>
                    <p><%= player.position %></p>
                </div>
                <% } %>
                <% }) %>
            </div>
        </div>

        <div>
            <h4>Flex</h4>
            <hr>

            <div>
                <% team.players.forEach((player) => { %>
                <% if (player.position === "G-F") { %>
                <div class="card" id="rosterCard">
                    <img id = "playerPicture" src="<%= player.picture %>" alt="">
                    <h6><%= player.first_name + " " + player.last_name %></h6>
                    <p><%= player.position %></p>
                </div>
                <% } %>
                <% }) %>
            </div>
        </div>



</body>

</html>